.navbar {
    background-color: teal;
    font-size: large;
}

.summary {
    color: teal;
    padding: 30px;
} 

.horizontal {
    margin: 20px;
    margin-top: -5px;
} 

.summarys {
    color: teal;
    padding-top: 50px;
}

.opener {
    margin: 30px;
    margin-bottom: -20px;
}

.thumb {
    width: 175px;
    height: 175px;
}

.tablehead {
    background-color: teal;
    text-align: center;
}
