.navbar {
    font-size: large;
}

.summary {
    color: teal;
    padding: 30px;
} 

.horizontal {
    margin: 20px;
    margin-top: -5px;
} 

.summarys {
    color: teal;
    padding-top: 50px;
}

.opener {
    margin: 30px;
    margin-bottom: -20px;
}

.thumb {
    width: 175px;
    height: 175px;
}

.tablehead {
    background-color: teal;
    text-align: center;
}

.lattitle {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: teal;
    padding: 10px;
}
.lattitle:hover {
    color: white;
}

.notshown {
    margin-top: 30px;
    margin-bottom: -20px;
}

@media (max-width: 991.98px) {
    .navbar {
        background-color: teal;
    }
   }

@media (min-width: 991.98px) {
    .notshown {
        display: none;
      }
    }

